# Configuration used in dev to generate a basic SSL cert
[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions	= v3_req

[v3_req]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints=CA:true
subjectAltName = @alt_names

[dn]
CN=app.test

[alt_names]
DNS.1 = app.test
