parameters:
    level: 6
    paths:
        # - application/src
        - application/public
        - castor.php
        - .castor/
    scanFiles:
        - .castor.stub.php
    # scanDirectories:
    #     - application/vendor
    tmpDir: tools/phpstan/var
    inferPrivatePropertyTypeFromConstructor: true

    # symfony:
    #     container_xml_path: 'application/var/cache/dev/App_KernelDevDebugContainer.xml'

    typeAliases:
        ContextData: '''
            array{
                project_name: string,
                root_domain: string,
                extra_domains: string[],
                project_directory: string,
                php_version: string,
                docker_compose_files: string[],
                macos: bool,
                power_shell: bool,
                user_id: int,
                root_dir: string,
                env: string,
                composer_cache_dir: string,
            }
        '''
