parameters:
    level: 6
    paths:
        #- application/src
        - castor.php
        - .castor/
    scanFiles:
        - .castor.stub.php
    tmpDir: tools/phpstan/var
    inferPrivatePropertyTypeFromConstructor: true

    # symfony:
    #    container_xml_path: '%rootDir%/../../../../../var/cache/dev/App_KernelDevDebugContainer.xml'

    typeAliases:
        ContextData: '''
            array{
                project_name: int,
                root_domain: int,
                extra_domains: string[],
                php_version: string,
                project_directory: string,
                docker_compose_files: string[],
                project_directory: string,
                macos: bool,
                power_shell: bool,
                user_id: int,
                root_dir: string,
                env: string,
                composer_cache_dir: string,
            }
        '''
