# this is a template to factorize the service definitions
x-services-templates:
    worker_base: &worker_base
        build:
            context: services/php
            target: worker
        user: "${USER_ID}:${USER_ID}"
        # Don't use depends_on, it does not work well with docker compose profiles
        volumes:
            - "../..:/var/www:cached"
        profiles:
            - worker

# services:
#    worker_messenger:
#        <<: *worker_base
#        command: php -d memory_limit=1G /var/www/application/bin/console messenger:consume async --memory-limit=128M
