# this is a template to factorize the service definitions
x-services-templates:
    worker_base: &worker_base
        build:
            context: services/php
            target: worker
        depends_on:
            - postgres
            #- rabbitmq
        volumes:
            - "../..:/var/www:cached"
        profiles:
            - default
            - worker

# services:
#    worker_messenger:
#        <<: *worker_base
#        command: php -d memory_limit=1G /var/www/application/bin/console messenger:consume async --memory-limit=128M
