version: '3.7'

# this is a template to factorize the service definitions
x-services-templates:
    worker_base: &worker_base
        build: services/worker
        depends_on:
            - postgres
            #- rabbitmq
        volumes:
            - "../../${PROJECT_DIRECTORY}:/home/app/application:cached"
        user: app
        environment:
            - "PROJECT_START_WORKERS=${PROJECT_START_WORKERS}"
        labels:
            - "docker-starter.worker.${PROJECT_NAME}"

#services:
#    worker_messenger:
#        <<: *worker_base
#        command: php -d memory_limit=1G /home/app/application/bin/console messenger:consume async --memory-limit=128M
