[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld]
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking

# Timeout after 2 days
wait_timeout = 172800
bind-address = 0.0.0.0

# Tuning mysql
max_allowed_packet	    = 16M
thread_stack		    = 192K
thread_cache_size       = 8
myisam-recover-options  = BACKUP
tmp_table_size          = 64M
max_heap_table_size     = 64M
max_connections         = 100
table_open_cache        = 4000

slow_query_log      = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time     = 0.3
log-queries-not-using-indexes

#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
#
innodb_data_file_path=ibdata1:128M:autoextend
innodb_buffer_pool_size      = 512M
innodb_buffer_pool_instances = 1
innodb_file_per_table

innodb_io_capacity       = 200
innodb_read_io_threads   = 16
innodb_write_io_threads  = 4

innodb_thread_concurrency       = 16
innodb_lock_wait_timeout        = 120
innodb_flush_log_at_trx_commit  = 1
innodb_log_file_size            = 128M
innodb_log_buffer_size          = 8M

innodb_buffer_pool_dump_at_shutdown = 1
innodb_buffer_pool_load_at_startup  = 1

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[isamchk]
key_buffer = 16M
