name: Push docker image to registry

"on":
  push:
    # Only run this job when pushing to the main branch
    branches: ["main"]

permissions:
  contents: read
  packages: write

env:
  DS_REGISTRY: "ghcr.io/jolicode/docker-starter"
  DS_PHP_VERSION: "8.4"

jobs:
  push-images:
    name: Push image to registry
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - uses: actions/checkout@v5

      - name: setup-castor
        uses: castor-php/setup-castor@v0.1.0

      - name: Log in to registry
        shell: bash
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: "Build and start the infrastructure"
        run: "castor docker:push"
